html, body, .container{
	width: 100%;
	height: 100%;
}
html,body { 
  background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
	font-family: 'DotGothic16', sans-serif;
	font-weight: 900;
	font-size: 50px;
	letter-spacing: 25px;
	color: #caf0f8;
}
header:hover{
	color: #90e0ef;
	transform: scale(1.2);
}
.btn{
	font-family: 'DotGothic16', sans-serif;
}
.btn-primary{
	border-radius: 20px;
	width: 10rem;
	background-color: #caf0f8;
	color: #0077b6;
	border: solid 0px;
	font-weight: 700;
}
.btn-primary:hover{
	transform: scale(1.2);
	background-color: #90e0ef;
	color: #0077b6;
}

.buffer{
	height: 1.5rem;
}
hr {
    margin: 20px auto;
    color: #eee;
    border: 3px solid #eee;
    max-width: 100%;
    opacity: 1;
    margin-bottom: 30px;  
}
hr:hover{
	color: #90e0ef;	
	border: 3px solid #90e0ef;
	transform: scale(1.2);
}